body {
    font-family: 'Arial', sans-serif;
    background: #f2f2f2;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 10px;
}


.container input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.container .submit {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background: #f0cb64;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.container .submit:hover {
    background: #d0a224;
}
