.log {
    text-align: left;
    margin-left: 50px;
}
.sub{
    text-align: center;
    
}

.text {
    margin-left: 25px;
}

.pieddepage {
    position: absolute;
    bottom:1;
    width: 70%;
    background-color: #FFFFFF;
}

.piedgauche {
    
    float: left;
    width: 50%;
    text-align: left;

}

.pieddroit {
    
    float: right;
    width: 40%;
    text-align: left;
    
    
}
.pied {
    
    float: center;
    width: 50%;
    text-align: center;

}

.submit {
    border-radius: 15px;
    background-color: #1877f2;
    color: white;
    width: 275px;
    height: 40px;
    border: #1877f2;
    text-align: center;
    float: right;
}

.submit:hover {
    width: 285px;
    height: 43px;
    background-color: #176ad5;
    border: #176ad5;
}

.close-button {
    position: absolute;
    color: #8a8a8a;
    cursor: pointer;
    margin-left: 350px;
    height: 50px;
    width: 50px;

}