footer {
    background-color: rgba(38, 93, 155, 0.5);
    color: white;
    padding: 40px 0;
    font-size: 16px;
}

.test {
    display: flex;
    justify-content: right;
}

footer h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer .social-links {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

footer .social-links a {
    font-size: 24px;
}

footer .btn-newsletter {
    background-color: rgb(211, 128, 115);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

footer .btn-newsletter:hover {
    background-color: rgb(246, 246, 246);
    color: rgb(38, 93, 155);
}

footer .newsletter-input {
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 10px;
}