@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1.custom-title {
    text-align: center;
    margin-top: 70px;
    padding-top: 30px;
    font-weight: bold;
    animation: fadeInDown 1s ease;
}

.omnes-box:hover {
    background-color: rgba(232, 183, 176, 0.1);
    color: rgb(211, 128, 115) !important;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.account-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px !important;
}

.info-box {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.info-box:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.05);
}

.info-box h3 {
    font-size: 24 px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px;
    line-height: 1.5;
}

.info-box ul {
    list-style-type: none;
    padding: 0;
}

.info-box li {
    margin-bottom: 10px;
}

.info-box a {
    color: rgb(38, 93, 155);
    text-decoration: none;
}

.info-box a:hover {
    text-decoration: underline;
}

.btn {
    background-color: rgb(38, 93, 155);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: rgb(211, 128, 115);
    color: white;
    text-decoration: none;
}