
.content {
    display: flex;
    align-items: center;
}

.content img {
    width: 250px;
    margin-right: 20px;
}

.content .details {
    flex: 1;
}

.name {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
}
