/*Panier CSS*/
.panier {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.panier img {
    width: 40px;
    padding: 8px 0;
}
.panier section {
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}
table {
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}
.panier th {
    padding: 10px 0;
    font-weight: 400;
}
.panier td {
    border-top: 0.5px solid #999;
    text-align: center;
    color: #37a6ff;
}
.panier tr {
    border-bottom: 0.5px solid #999;
}

.total th {
    border: 0;
    float: left;
    font-weight: 500;
    color: #37a6ff;
    padding: 10px;
}

.btn-checkout {
    margin-top: 30px;
    background-color: rgb(211, 128, 115);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: center;
    display: block;
    width: 30%;
    margin: 0 auto;

    margin-top: 6px;
    cursor: pointer;
}

.btn-checkout:hover {
    background-color: rgb(38, 93, 155);
    color: white;
    text-decoration: none;
}